.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 56px;
  padding: 4px 24px;

  background: var(--background-glass-color);
  border-radius: 1.75rem;
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
  backdrop-filter: saturate(400%) blur(60px);

  position: sticky;
  top: 16px;

  z-index: 5;
}

